* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 164, 162);
    transition: all 1s;
}
h3 {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
    margin-bottom: 15px;    
}
h1 {
    background-color: rgb(48, 210, 89);
    color: whitesmoke;
    border: none;
    border-radius: 50px 50rem 50px 50rem;
    padding: 1rem;
    transition: all 1s;
}



.card-container {
    color: whitesmoke;
    height: fit-content;
    transition: all 1s;
    width: 30rem;
}
   


@media (max-width:500px) {
    .card-container {
        width: 19rem !important;
        font-size: x-small !important;
    }
    .on {
        width: 15px;
    }
}